.settingSection {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: flex-start;
  margin: 30px auto;
  border-top: 1px solid #274c77;
}

.settingTitle {
  padding: 10px;
}

.settingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.settingItem {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px 0;
}
