.job-card {
  width: 100%;
}

.job-card-action {
  display: flex;
  justify-content: space-between;
}

.BookmarkIcon {
  border-radius: 5px;
}

.BookmarkIcon:hover {
  background-color: rgba(231, 236, 239, 0.6);
  transition: 0.1s;
  cursor: pointer;
}

.job-card {
  height: 220px;
  width: 90%;
  min-width: 400px;
  margin: 1rem;
  border-radius: 10px;
}

.job-card:hover {
  /* border: 1px solid lightcoral; */
  transform: scale(1.01, 1.01);
  transition: 0.1s;
  cursor: pointer;
}
