.job-card-action {
  display: flex;
  justify-content: space-between;
}

.BookmarkIcon {
  border-radius: 5px;
}

.BookmarkIcon:hover {
  background-color: rgba(231, 236, 239, 0.6);
  transition: 0.1s;
  cursor: pointer;
}

.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  height: 250px;
  border-radius: 10px;
}

.job-card:hover {
  /* border: 1px solid lightcoral; */
  transform: scale(1.01, 1.01);
  transition: 0.1s;
  cursor: pointer;
}
