.simple-job-card {
  width: 300px;
  height: 100px;
  margin: 10px 0;
}

.simple-job-card:hover {
  transform: scale(1.02, 1.02);
  border: 1px solid lightblue;
  transition: 0.2s;
  cursor: pointer;
}

.simple-card-subtext {
  font-size: 12px;
}
