.recommender-panel {
  margin-bottom: 3rem;
  /* border: 1px solid #274c77; */
  padding: 1rem;
  border-radius: 5px;
  border-radius: 25px;
  background: '#e2e0e0';
  /* box-shadow: 2px 3px #a8a8a8; */
  box-shadow: 2px -3px 10px #c0bebe, -2px 3px 10px #c0bebe;
}
.recommender-refresh {
  display: flex;
  align-items: center;
  font-size: x-small;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.recommender-refresh:hover {
  color: #274c77;
}
