.recommender-panel {
  margin-bottom: 3rem;
  /* border: 1px solid #274c77; */
  padding: 1rem;
  /* border: 1px solid red; */
}
.recommender-refresh {
  display: flex;
  align-items: center;
  font-size: x-small;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.recommender-refresh:hover {
  color: #274c77;
}

.helperText {
  font-size: small;
}
