.AddJobForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 40vw;
  height: 100vh; */
  min-width: 250px;
  min-height: 800px;
  margin: 10px;
  /* border: 1px solid black; */
  /*border-radius: 20px;*/
  padding: 2rem;
  align-items: center;
  border-radius: 20px;
  background: #ebf4f9;
  box-shadow: 20px 20px 30px #bebebe, -20px -20px 30px #ffffff;
}

.JobInformationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  /* height: 45vh; */
  min-width: 250px;
  min-height: 230px;
  margin: 1px;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 2rem;
}

.SessionInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vw;
  height: 10vh;
  margin: 1px;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 2rem;
  align-items: center;
}

.createSession {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 3rem;
  justify-content: space-between;
  border: 1px solid darkcyan;
  border-radius: 5%;
  padding: 1rem 1.5rem;
}

.divider {
  margin: 2rem 0;
  background-color: red;
}

.sessionButton {
  display: flex;
  justify-content: space-around;
}
