.dashboard-main {
  width: 1080px;
  margin: 2rem 4rem;
  margin: 0 auto;
  position: relative;
}

.add-job-button {
  padding: 0.8rem !important;
  position: absolute;
  left: 90%;
}

.jobSection {
  margin-top: 3rem;
}
