.home-content-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.home-main-panel {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 1200px;
  max-height: 100vh;
  overflow: scroll;

  background: '#e2e0e0';
  border-right: 1px solid lightblue;
  /* box-shadow: 2px 3px #a8a8a8; */
  /* box-shadow: 2px -3px 10px #c0bebe, -2px 3px 10px #c0bebe; */
}

.home-side-panel {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 300px;
  max-width: 600px;
  max-height: 100vh;
}

.home-sort-button {
  display: flex;
  justify-content: flex-end;
}
