.home-content-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.home-main-panel {
  display: flex;
  flex-direction: column;

  width: 50vw;
}

.home-side-panel {
  display: flex;
  flex-direction: column;
}

.home-sort-button {
  display: flex;
  justify-content: flex-end;
}
