.resume {
  width: 100%;
  max-width: 1080px;
  margin: 20px auto;
  border-top: 1px solid #ddd;
}

.resume_item {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px 15px;
}

.resume_item .header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 6px;
}

.user_info .content {
  display: flex;
}

.user_info .content .info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar {
  width: 66px;
  height: 66px;
  border-radius: 5px;
  margin-right: 10px;
}

.resume_footer {
  text-align: right;
  margin-top: 20px;
}

.user_form {
  padding: 20px;
}

.hr_detail {
  margin-top: 10rem;
}

.introduction {
  margin: 3rem;
}
